<!DOCTYPE html>
<html ng-app="ngBlog">
  <head>
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#!/">My Blog</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/#!/posts"><i class="fa fa-home"></i>All Posts</a>
            </li>
            <li>
              <a href="/#!/posts/new"><i class="fa fa-book"></i>New Post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

    <script src="/assets/bower_components/angular/angular.js"></script>
    <script src="/assets/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/assets/bower_components/angular-route/angular-route.js"></script>
    <script src="/assets/script.js"></script>
  </body>
</html>
